/* style for all h4 elements */
h4 {
  /* Set font family, weight and size */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 20px;
  /* add padding to the bottom so they are not crammed */
  padding-bottom: 4px;
  /* Remove user-select to aviod mouse changing to signify text is not selectebeale and prevent vertical bar to appear on scroll */
  user-select: none;
}

#player {
  /* Audio player bar style */
  width: 330px;
  height: 50px;
  background-color: bisque;
  border-radius: 10px;
}

.container {
  /* Flex display properties */
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}

/*  play-pause-container button style*/
#play-pause-container {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: inherit;
  opacity: 100%;

  /* Give a border radius and height */
  border-radius: round;
  height: 50px;

}

#play-pause-container:disabled {
  /* set grey background at beginning */
	background: grey;
  opacity: 50%;
}

#play-pause-button {
  /* Fix width and height */
  width: 20px;
  height: 20px;

  /* Add padding to give space to left and right */
  padding-left: 10px;
  padding-right: 10px;

  /* Change cursor to pointer style when hovering over image */
  cursor: pointer;
}

/* current-time element */
#current-time {
  /* give width to space letters out */
  width: 40px;
  /* give paddin to space add space from other elements */
  padding-left: 5px;
}

/* total-time element */
#total-time {
  width: 40px;
  padding-left: 10px;
}

/* select buttons used to change song */
.song-change {
  background-color: bisque;
  margin-left: 5px;
  border: none;
  border-radius: 10%;

}

/* select buttons used to change song on hover */
.song-change:hover {
  background-color: coral;
  color: white;
}